body {
    margin: 0
}

.bg-body-tertiary {
    background-color: transparent !important;
    color: black;
    position: fixed;
}

.logo {
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.nav-item {
    float: right;
}

.heroSec {
    font-family: 'DM Serif Display', serif;
    padding-top: 10vh;
}

h2 {
    font-size: 100px;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 75px;
}

.heroCol {
    height: 20vh;
    align-items: center;
    display: flex;
}

.heroAbout {
    display: flex;
    justify-content: end;
}

.heroRow {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.headerColImg1 {
    background-image: url(master/images/IMGP8037.JPG);
    background-size: cover;
    background-position: center;

}

.headerColImg2 {
    background-image: url(master/images/something2.jpg);
    background-size: cover;
    background-position: center;

}

.headerColImg3 {
    background-image: url(master/images/IMGP8053.JPG);
    background-size: cover;
    background-position: center;

}

.headerColImg4 {
    background-image: url(master/images/IMGP7948.JPG);
    background-size: cover;
    background-position: center;

}

.aboutSec {
    align-items: center;
    display: flex;
    margin-bottom: 100px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.aboutImg {
    background-image: url(master/images/IMGP8003.JPG);
    background-size: cover;
    background-position: center;
}

.contactLink {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: small;
}

.contactBtn {
    background-color: #F26419;
    width: 300px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#workTitle {
    margin-top: 50px;
}

.cardImg1 {
    background-image: url(master/images/Screenshot\ 2023-12-18\ at\ 17.35.29.png);
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;
}

.cardImg2 {
    background-image: url(master/images/refactoring.png);
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;

}

.cardImg3 {
    background-image: url(master/images/pre-work.png);
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;

}

.cardCol {
    margin-top: 50px;
    
}

.contactCard {
    padding: 50px;
}

.contactText {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact-skillSeperator {
    margin-top: 70px;
}

#contactLogo {
    height: 100px;
    margin-top: 50px;
}

#contact-workSeperator {
    margin-top: 70px;
    margin-bottom: 70px;
}

.secTitle {
    font-size: 50px;
    color: white;
}

#skillTitle {
    padding-left: 50px;
    padding-right: 50px;
}

.skillRow {
    height: 33vh;
    margin: 5px 0px 5px 0px;
    padding: 50px;
}

.skillHR {
    padding: 0px;
}

.contactSec {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F26419;
    color: white;
    padding-bottom: 50px;
}

.CTACard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding: 50px;
}

.image-stack__item--top {
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
}

.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}

#img1 {
    width: 100%;
    display: block;
}

#img2 {
    width: 100%;
    display: block;
}

footer {
    display: flex;
    background-color: #F26419;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0 30px;
    color: white;

}

#footerLogo {
    height: 50px;
    margin: 15px;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 600px) {
    .headerColImg1, .headerColImg2, .headerColImg3, .headerColImg4, .hiddenCol, .col-1 {
        display: none;
    }

    .headerColImg1-mini {
        display: block;
        background-image: url(master/images/IMGP8037.JPG);
        background-size: cover;
        background-position: center;
    
    }
    
    .headerColImg2-mini {
        display: block;
        background-image: url(master/images/something2.jpg);
        background-size: cover;
        background-position: center;
    
    }
    
    .headerColImg3-mini {
        display: block;
        background-image: url(master/images/IMGP8053.JPG);
        background-size: cover;
        background-position: center;
    
    }
    
    .headerColImg4-mini {
        display: block;
        background-image: url(./images/IMGP7948.JPG);
        background-size: cover;
        background-position: center;
    
    }
    

    h2 {
        font-size: 60px;
    }

    .heroAbout, .heroRow4 {
        display: flex;
        justify-content: start;
    }

    .CTACard {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        text-align: center;
    }

    .CTA {
        padding-bottom: 30px;
        font-size: larger;
    }
}