.heroCol {
    height: 25vh;
    align-items: center;
    display: flex;
}

.headerColImg {
    background-image: url(/images/img1-placeholder.jpg);
    background-size: cover;

}

.aboutSec {
    height: 100vh;
    align-items: center;
    display: flex;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutImg {
    background-image: url(/images/img2-placeholder.jpg);
    background-size: cover;
    height: 100vh;
}